<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
	<tr>
		<th>id</th><th>name</th><th>email</th><th>content</th><th>created</th>
	</tr>

	<tr th:each= "inquiry:${inquiryList}">
			<td th:text ="${inquiry.id}"></td>
			<td th:text ="${inquiry.name}"></td>
			<td th:text ="${inquiry.email}"></td>
			<td th:text ="${inquiry.content}"></td>
			<td th:text ="${inquiry.created}"></td>
	</tr>
	</table>
</body>
</html>