
<div class="main posts-index">
  <div class="container">
  <%
    @posts.each do |post|
  %>
    <div class="posts-index-item">
    <%= link_to(post.content,"/posts/#{post.id}")%>
      <%# %=%は中身が表示されるので出力したい変数などをいれる %>
    </div>
    <%end%>
  </div>
</div>