<%# views/layouts/application.html.erb　共通化したいレイアウトはこのファイルに書き込む %>
  
<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class = "about-img" src = "/14.jpg">
  <%# かならずスラッシュをつける %>
</div>