@charset "UTF-8";


  .maincontainer {
    max-width: 600px;
 margin: 10px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
  }
.posts-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  }