<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace = "~{block/header::headerA}"></div>
<h2>現在のパスワード</h2>
<h1 th:text = "${password}"></h1>
<form th:action="@{/user/complate_password}" th:object="${userPasswordForm}">
	<p><label for="password">パスワード</label>
	<input type = "text" name = "password" id = "password"></p>
	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
	<p><label for="password2">パスワード2</label>
	<input type = "text" name = "password2" id = "password2"></p>
	<div th:if = "${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
	<input type ="submit" value = "送信">
</form>
<p th:if="${message} != null"  th:text = "${message}"></p>
</body>
</html>